@use 'variables.scss' as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

*{
    margin: 0 !important;
    margin: 0 auto ;
    padding: 0 !important;
    box-sizing: border-box;
}
body {
    font-size: 0.9rem;
    font-family:'buenos aires regular' !important ;
    position: relative;
    padding-bottom: 200px !important;
    min-height: 100vh;
    overflow-x: hidden;
}
img {
    width: 100%;
}
ul {
  list-style-type: none !important;
}
a {
    all:unset;

}
.debug {
    border: 1px solid red;
}
.main-color {
    color: #E87C5D
}
.fs-6 {
    font-size: 0.9rem !important;
}
.fs-7 {
    font-size: 0.7rem;
}
.cursor-pointer {
    cursor: pointer;
}
.bg-smoke{
    background-color: whitesmoke;
}

.w-80{
    width: 80% !important;
}


