/*  
-----------------
💜Scss Variables here
----------------- */
$mainColor: #f9ddd7;
// $mainColor: #E87C5D;
$secColor: lightcoral;
$compColor: rgb(195, 33, 33);
$brightText: whitesmoke;
$darkColor: rgb(49, 42, 49);

